*
  margin: 0

html, body
  height: 100%

#body
  font-family: 'Lato'

.wrapper
  min-height: 100%
  height: auto !important
  height: 100%
  margin: 0 auto -100px

/* Footer */
.footer, .push
  height: 100px

.footer
  background-color: black 

  .twitter-logo
    +border-radius(6px)

  .logo
    margin-left: 10px


/* Navbar */
.navbar
  .logo
    text-align: center
    margin: 10px 0 5px 10px

  .navbar-search .search-query
    background-color: white


  .search, .playerhead
    margin-left: 0

  .playercontrols
    text-align: center
    margin-auto
    margin-bottom: 15px

  #searchyt
    margin: 15px 0 0 0px
    width: 100%

  #serchtext
    width: 100%

  #play, #pause
    +border-radius(6px)

/* Right hand nav */
.right-hand-nav
  margin-top: 35px

/* Video Player */
#show-video-btn
  +border-bottom-radius(6px)
  border: 1px solid #BBB
  border-top: none
  background-color: #08C
  padding: 5px
  height: 25px
  color: white
  text-align: center
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffe6e6e6', GradientType=0)
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false)
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05)
  -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05)
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05)
  cursor: pointer
  font-size: 14px

  &:hover,
  &:active,
  &.active,
  &.disabled,
  &[disabled]
    color: #ffffff
    background-color: #0044cc
    *background-color: #003bb3

  &:active,
  &.active
    background-color: #003399 \9

  i
    margin-top: 4px
    margin-left: 10px
    margin-right: 10px

#playerwrapper
  padding: 0 0 0 0
  z-index: -1
  position: relative
  margin-top: -403px
  border-left: 1px solid #BBB
  border-right: 1px solid #BBB
  background-color: #08C
  padding-top: 8px

/* Playlist */
.playlist-row
  margin-top: 10px

#searchresults
  overflow: hidden

.remove-btn
  @include border-radius(80px)
