#body
  font-family: 'Lato'
  padding-top: 60px

.brand
  margin: 2px 0 0 0px

#sideplayer
  position: fixed
  left: -600px
  top: 300px
  width: 650px
  height: 400px
  display: inline-block

#showvideobtndiv
  @include rotate(90deg)
  position: relative

#showvideobtn
  position: relative
  width : 350px
  top: -142px
  left: -218px
.playercontrols
  float: left
  .playerbtn
    width: 40px

.player-progress
  height: 30px
  width: 100%
  float: left

#searchyt
  margin: 15px 0 0 0px
  width: 360px

#serchtext
  width: 360px

.srddm
  top: 45px
  width: 390px

#searchresults
  overflow: hidden

.remove-btn
  @include border-radius(80px)
