/* Playlist Table */
ul.playlist-header

/* Help Container */
.help-container-row
  margin-bottom: 10px

  #js-help-container
    margin-left: 0
    border: 1px #DDD solid
    padding: 0 15px
    min-height: 0
    +border-radius(6px)

    .close-help
      text-align: right
      padding-top: 10px
      cursor: pointer

    .step
      text-align: center
      padding: 0 0 20px 0

      &#step-1
        margin-left: 0

    .help-image
      width: 131px
      height: 108px
      margin: auto
      background-repeat: no-repeat

    .lock-image
      background-image: image-url('lock.png')
    .create-woman-image
      background-image: image-url('create-woman.png')
    .create-man-image
      background-image: image-url('create-man.png')
    .collaborate-image
      background-image: image-url('collaborate.png')