.navbar.navbar-fixed-top
  .navbar-inner
    padding: 5px

  .logo
    text-align: center
    margin-top: 10px
    margin-bottom: 15px
    cursor: pointer

  .search-bar
    height: 40px
    .navbar-form, .search-input
      width: 100%

    .search-results
      position: relative
      width: 100%
      top: 0
      overflow-y: scroll

      li.category
        text-align: center

      hr
        margin: 10px 0 0 0

      .results-loading
        width: 100%
        text-align: center
        margin: 15px 0 10px 0

      a.srlink
        padding: 3px 10px 10px 10px
        white-space: normal
        border-bottom: 1px solid #EEE

      .media-body
        position: relative
        margin-left: 130px

      .media-anchor
        position: relative
        display: block
        padding: 3px 10px 3px 0
        clear: both
        font-weight: normal
        line-height: 20px
        color: #333
        white-space: nowrap

        span.video-time
          position: absolute
          margin-left: 4px
          margin-top: 4px
          padding: 0 4px
          font-weight: bold
          font-size: 11px
          +border-radius(3px)
          background-color: black
          color: white!important
          height: 14px
          line-height: 14px
          opacity: 0.75
          filter: alpha(opacity=75)
          display: -moz-inline-stack
          display: inline-block
          vertical-align: top
          zoom: 1
          z-index: 2



/* Players */

.player-inner-wrapper
  width: 200px
  height: 200px
  +background-image(linear-gradient(left,rgba(255,255,255,.1), $BLUE))
  @include border-radius(30px)

.player-head
  #player-controls
    margin-bottom: 12px

  #play, #pause
    +border-radius(6px)

  #volume-bar
    margin-top: 6px
    .progress
      .bar
        +background-image(linear-gradient(left,#08C, #04C))
