@media (max-width: 480px)

  .footer
    padding-left: 20px
    padding-right: 20px
    margin-left: -20px
    margin-right: -20px

  .body-wrapper .container
    margin-top: 50px

  ul.playlist li.title
    width: 60%

@media (max-width: 767px)

  .footer
    padding-left: 20px
    padding-right: 20px
    margin-left: -20px
    margin-right: -20px

  .body-wrapper .container
    margin-top: 50px

  ul.playlist li.title
    width: 60%

@media (min-width: 768px) and (max-width: 979px)
  .player-outer-wrapper
    max-width: 600px

  .body-wrapper .container
    margin-top: 50px

  ul.playlist li.title
    width: 350px

  .row-fluid .span3
    width: 220px


@media (min-width: 979px) and (max-width: 1199px)
  .navbar-static-top .container,
  .navbar-fixed-top .container,
  .navbar-fixed-bottom .container
    width: 940px

  .player-outer-wrapper
    width: 600px

  .body-wrapper .container
    margin-top: 220px

  .span9
    width: 700px

  .span3
    width: 220px

  ul.playlist li.title
    width: 500px

@media (min-width: 1200px)
  .navbar-static-top .container,
  .navbar-fixed-top .container,
  .navbar-fixed-bottom .container,
  .body-wrapper .container
    width: 940px

  .player-outer-wrapper
    width: 600px

  .body-wrapper .container
    margin-top: 220px

  .span9
    width: 700px

  .span3
    width: 220px

  [class*="span"]
    float: left
    margin-left: 20px

  ul.playlist li.title
    width: 500px
