@media (max-width: 480px)
  .navbar-fixed-top
    margin-bottom: 0

@media (max-width: 767px)
  .navbar-fixed-top
    margin-bottom: 0

@media (min-width: 768px) and (max-width: 979px)
  .navbar-fixed-top
    margin-bottom: 0

@media (min-width: 979px) and (max-width: 1199px)
  .navbar-fixed-top
    margin-bottom: 0

@media (min-width: 1200px)
