.footer
  .container
    .row-fluid
      .span12
        %h4
          = link_to 'FAQ', '/faq', :target => "_blank"
          \/
          = link_to 'About', '/about', :target => "_blank"
          \/
          = link_to 'Feedback', '/feedback', :target => "_blank"
        .hashbang-logo.pull-right
          = link_to image_tag('hashbang.png', :height => 31, :width => 140), 'http://hashbang.co.nz/', :target => "_blank"
      .clearfix