:javascript
  google_ad_client = "ca-pub-0536735597863899";
  /* FrontPagePlysit */
  google_ad_slot = "1058791619";
  google_ad_width = 160;
  google_ad_height = 600;
%script{ type: "text/javascript", src: "http://pagead2.googlesyndication.com/pagead/show_ads.js"}
