:javascript
  google_ad_client = "ca-pub-0536735597863899";
  google_ad_slot = "1058791619";
  google_ad_width = 160;
  google_ad_height = 600;
= javascript_include_tag "http://pagead2.googlesyndication.com/pagead/show_ads.js"
