.body-wrapper
  .container
    .row-fluid.help-container-row
      .span12#js-help-container

    .row-fluid
      .span9
        #playlist

      .span3#js-right-side-bar.right-side-bar
        #js-google-ad
        #js-create-container
        #js-collaborate-container
        #js-share-container


    .push