.player-head
  .row-fluid
    .span4#js-player-wrapper.player-wrapper
      .player-inner-wrapper
        #js-youtube-player{style: "display: none;"}
        #js-soundcloud-player{style: "display: none;"}
    .span4
      #js-plitem-info
  .row-fluid
    .span8.player-head#playerhead