.player-head.well{style: "padding: 10px;"}
  .row-fluid
    #js-player-wrapper
      .player-inner-wrapper
        #js-youtube-player{style: "display: none;"}
        #js-soundcloud-player{style: "display: none;"}
  .row-fluid
    .player-head#playerhead
  .row-fluid
    #js-plitem-info
