.player-outer-wrapper
  #js-player-wrapper.player-wrapper
    .player-inner-wrapper
      #js-youtube-player
      #js-soundcloud-player
  #show-video-btn.btn-primary
    %i.icon-chevron-down.icon-white.pull-left
    Show Players
    %i.icon-chevron-down.icon-white.pull-right