.navbar.navbar-inverse.navbar-fixed-top
  .navbar-inner
    .container
      .row-fluid
        .span12.logo
          %a{href: "/"}
            = image_tag "logo.png"
        .span12.search
          #search
          .clearfix
        .span12.playerhead
          #playerhead