#js-fixed-header.navbar.navbar-inverse.navbar-fixed-top
  .navbar-inner
    .container
      .row-fluid
        .span2.logo
          %a#js-logo= image_tag "logo.png"
        .span10
          #search
