#js-fixed-header.navbar.navbar-inverse.navbar-fixed-top

  .navbar-inner
    .container
      .row-fluid
        .span12.logo
          %a#js-logo= image_tag "logo.png"

      .row-fluid
        .span12.search-bar#search

      .row-fluid
        .span12.player-head#playerhead

  = render 'shared/players'
