#js-fixed-header.navbar.navbar-inverse.navbar-fixed-top

  .navbar-inner
    .container
      .row-fluid
        .span12.logo
          %a#js-logo= image_tag "logo.png"

      .row-fluid
        .span12.search-bar#search

      .row-fluid
        .span12.player-head#playerhead

  .player-outer-wrapper
    #js-player-wrapper.player-wrapper
      .player-inner-wrapper
        #js-youtube-player
    #show-video-btn.btn-primary
      %i.icon-chevron-down.icon-white.pull-left
      Show Video
      %i.icon-chevron-down.icon-white.pull-right
