@import "bootstrap"
@import "bootstrap-responsive"

#body
  font-family: 'Strait'
  padding-top: 60px

#brand
  font-family: 'Unica One'

#jumbo
  height: 0px
  color: #fff
  text-align: center
  text-shadow: 0 1px 3px rgba(0,0,0,.4), 0 0 30px rgba(0,0,0,.075)
  @include gradient-horizontal(rgba(255,0,0,.2), rgba(0,0,0,.5))

#ojumbo
  background-image: url(back.jpg)

#jumbo h1
  font-size: 80px
  font-weight: bold
  letter-spacing: -3px
  line-height: 1

#jumbo a
  font-size: 40px
  font-family: 'Lato'
  padding: 20px 20px
  text-shadow: 0 1px 3px rgba(0,0,0,.4), 0 0 30px rgba(0,0,0,.075)

.invisible
  position: absolute
  left: -9999px
