@import "bootstrap"
@import "bootstrap-responsive"
#body
  font-family: 'Strait'
  padding-top: 60px

.brand
  margin: 5px 0 0 0px

.invisible
  position: absolute
  left: -9999px

.playercontrols
  float: left
  .playerbtn
    width: 40px

.player-progress
  margin: 15px 0 0 15px
  height: 30px
  width: 235px
  float: left

#searchyt
  margin: 15px 0 0 0px

.srddm
  top: 45px
  width: 250px

